
<footer>
    <h2 style="margin-bottom: 5px;">Connect With Us</h2>
    <ul>
        <li><a target="_blank" href="https://www.twitter.com/login"><i class="fa fa-twitter twitter ssm" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/login"><i class="fa fa-facebook facebook ssm" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram instagram ssm" aria-hidden="true"></i></a></li>
    </ul>
    <hr/>
    <p>Copyright &copy; 2019 A.C.E Airlines | All Rights Reserved | All used images were labeled for reuse.</p>
</footer>

<!--https://www.flaticon.com/authors/pixel-perfect Icon Creator-->
